@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

$mainbkg: rgb(1, 22, 39);
$font: "Fira Code", monospace;
$fontColor: rgb(96, 123, 150);
$bkg: rgb(1, 22, 39);
$border: rgb(30, 45, 61);

.container {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
}

.tabInfoContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  min-width: 100%;
  align-items: center;
  justify-content: start;
  padding-left: 0.5em;
  p {
    color: $fontColor;
    font-family: $font;
    font-size: 1rem;
    margin-left: 0.5em;
  }
  span {
    margin-left: 0.5em;
  }
  .arrowClicked {
    transform: rotate(90deg);
  }
}
